<mat-toolbar color="primary">
    <div id="main-page-tab">
        <a routerLink="/main-page">Visma HR</a>
    </div>
    <div>
        <a routerLink="/employees"> Employees</a>
    </div>
    <!-- <div fxFlex fxLayout fxHide.xs>
    <ul fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/main-page">Main Page</a>
      </li>
      <li>
        <a routerLink="/employees"> Employees</a>
      </li>
    </ul>
  </div> -->
</mat-toolbar>
